// Global stylings
@use "./variables" as *;
@use "./mixins" as *;

html {
    font-size: 125%;
    margin: 0;
    padding: 0;
}

body {
    background-color: $white;

    @media (max-width:$mobileWidth) {
        background-color: $lightGrey;
    }
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

h3 {
    @include fontStyling($primaryFont, 1.5rem, 600, $black);
    text-transform: uppercase;
    line-height: 29px;
    margin-top: 0;

    @media(max-width:$mobileWidth) {
        font-size: 1.5rem;
        margin-top: 15px;
    }
}

p {
    @include fontStyling($secondaryFont, 1rem, 300);
    line-height: 29px;
}

button {
    @include buttonStyles($sapphire);
}

h4 {
    @include fontStyling($primaryFont, 1.5rem, 300);
    text-transform: uppercase;
    margin-bottom: 1rem;

}

li {
    text-decoration: none;
    list-style: none;
}

i {
    color: $white;
}

a {
    color: $white;
}