$white: #fcfcfc;
$lightGrey: #e3e3e3;
$black: #000000;
$sapphire: rgba(24, 51, 153, 78%);
$grey: #acacac;
$mobileWidth: 650px;
$primaryFont: 'Cormorant Garamond', serif;
$secondaryFont: 'Roboto', sans-serif;