html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1500px;
  width: 80%;
  margin: 0 auto;
}

html {
  font-size: 125%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fcfcfc;
}
@media (max-width: 800px) {
  body {
    background-color: #e3e3e3;
  }
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
  line-height: 29px;
  margin-top: 0;
}
@media (max-width: 800px) {
  h3 {
    font-size: 1.5rem;
    margin-top: 15px;
  }
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #000000;
  line-height: 29px;
}

button {
  font-family: "Cormorant Garamond", serif;
  font-size: 0.8rem;
  font-weight: 600;
  color: #fcfcfc;
  radius: 0%;
  padding: 10px;
  text-transform: uppercase;
  background-color: rgba(24, 51, 153, 0.78);
  border: none;
  line-height: 29px;
}

h4 {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

li {
  text-decoration: none;
  list-style: none;
}

i {
  color: #fcfcfc;
}

a {
  color: #fcfcfc;
}

header {
  background-image: url(../assets/image-1.jpg);
  background-size: cover;
  color: #fcfcfc;
  font-family: "Cormorant Garamond", serif;
}
@media (max-width: 800px) {
  header {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
header .topBarPlusLogo {
  display: flex;
  justify-content: space-between;
}
header .topBarPlusLogo .logo {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fcfcfc;
  font-style: italic;
}
@media (max-width: 800px) {
  header .topBarPlusLogo .logo {
    display: none;
  }
}
@media (max-width: 800px) {
  header .topBarPlusLogo .topNav {
    display: none;
  }
}
header .topBarPlusLogo .topNav ul {
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
}
header .topBarPlusLogo .topNav ul li {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  color: #fcfcfc;
  margin: 0 10px;
  font-weight: lighter;
}
header h1 {
  font-size: 7.5rem;
  text-transform: uppercase;
  padding: 20px;
  line-height: 70%;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 800px) {
  header h1 {
    font-size: 3.5rem;
  }
}
header h1 span {
  display: inline-block;
  margin: 0 auto;
  font-style: italic;
}
header .socialMediaNav {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 40px;
}
@media (max-width: 800px) {
  header .socialMediaNav {
    display: none;
  }
}

.firstSection h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin-top: 0;
}
@media (max-width: 800px) {
  .firstSection h2 {
    font-size: 1.8rem;
    margin: 20px 0;
  }
}
.firstSection .gallery {
  max-width: 100%;
  margin-bottom: 30px;
}
.firstSection .gallery ul {
  display: flex;
  justify-content: space-between;
}
.firstSection .gallery ul li {
  flex-basis: 30%;
  height: auto;
}
@media (max-width: 800px) {
  .firstSection .gallery ul li {
    flex-basis: 45%;
  }
  .firstSection .gallery ul li:nth-child(3) {
    flex-basis: 0;
  }
}

.secondSection {
  display: flex;
  padding: 80px 0;
}
@media (max-width: 800px) {
  .secondSection {
    flex-direction: column;
  }
}
.secondSection .imgBoxSmall {
  margin-right: 40px;
  flex-basis: 30%;
}
@media (max-width: 800px) {
  .secondSection .imgBoxSmall {
    margin-right: 0px;
    max-width: 80%;
    align-self: center;
  }
}
.secondSection .textBox {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .secondSection .textBox {
    margin-right: 0px;
    text-align: center;
  }
}
.secondSection .textBox button {
  align-self: flex-start;
}
@media (max-width: 800px) {
  .secondSection .textBox button {
    margin-right: 0px;
    align-self: center;
  }
}

.sectionNew {
  display: flex;
  align-items: center;
}
@media (max-width: 800px) {
  .sectionNew {
    flex-wrap: wrap-reverse;
  }
}
.sectionNew .imgBoxLarge {
  min-width: 50%;
}
.sectionNew .textBoxLarge {
  margin: 0 10%;
}
@media (max-width: 800px) {
  .sectionNew .textBoxLarge {
    margin-right: 0px;
    text-align: center;
    margin: 30px auto;
  }
}

.sectionNew2 {
  display: flex;
  align-items: center;
}
@media (max-width: 800px) {
  .sectionNew2 {
    flex-wrap: wrap;
  }
}
.sectionNew2 .imgBoxLarge {
  min-width: 50%;
}
.sectionNew2 .textBoxLarge {
  margin: 0 10%;
}
@media (max-width: 800px) {
  .sectionNew2 .textBoxLarge {
    text-align: center;
    margin: 30px auto;
  }
}

.otherLinks {
  background-image: url(../assets/image-1.jpg);
  background-size: cover;
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem;
  font-weight: 400;
  color: #fcfcfc;
  text-transform: uppercase;
  padding: 10%;
}
.otherLinks ul {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}
@media (max-width: 800px) {
  .otherLinks ul {
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
  }
}
.otherLinks ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.otherLinks ul li a i {
  line-height: 50px;
  padding: 10px;
}

.formAndContact {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  background-color: #e3e3e3;
}
@media (max-width: 800px) {
  .formAndContact {
    flex-direction: column;
  }
}
.formAndContact .form {
  display: flex;
  flex-direction: column;
}
@media (max-width: 800px) {
  .formAndContact .form {
    align-items: center;
  }
}
.formAndContact .form .inputSubscribe {
  display: flex;
}
@media (max-width: 800px) {
  .formAndContact .form .inputSubscribe {
    flex-direction: column;
  }
}
.formAndContact .form .inputSubscribe button {
  font-family: "Cormorant Garamond", serif;
  font-size: 0.8rem;
  font-weight: 600;
  color: #fcfcfc;
  radius: 0%;
  padding: 10px;
  text-transform: uppercase;
  background-color: #000000;
  border: none;
  line-height: 29px;
  flex-basis: 25%;
}
@media (max-width: 800px) {
  .formAndContact .form .inputSubscribe button {
    margin-top: 20px;
  }
}
.formAndContact .form .inputSubscribe label {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #000000;
  margin-bottom: 0.5rem;
  padding-right: 0;
  align-self: center;
}
.formAndContact .form .inputSubscribe input {
  line-height: 2.2rem;
  border: 0;
  flex-basis: 75%;
}
.formAndContact .contactAndNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.formAndContact .contactAndNav .contact {
  flex-basis: 50%;
}
.formAndContact .contactAndNav .contact ul li {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  color: #000000;
}
.formAndContact .contactAndNav .bottomNav {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
}
.formAndContact .contactAndNav .bottomNav ul a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

footer {
  background-color: #acacac;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  color: #000000;
  text-align: center;
  padding: 0.5rem;
}/*# sourceMappingURL=style.css.map */